@import './bootstrap.scss';

.nav-aside a {
    color: #495057 !important;
}

.dashed-card {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-color: black;
    border-style: dashed;
}

.solid_card {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-color: unset;
    border-style: unset;
}

.tab-text-title {
    font-weight: normal;
    font-size: small;
    display: contents;
}

.form-card-div {
    margin-top: 10px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 350px;
}

.displayFlexColumn {
    display: flex;
    flex-direction: column;
}

.displayFlexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.li-multiselection-divider {
    color: darkgray;
    background-color: lavender;
    font-weight: bold;
    font-size: small;
}

.deletedBackground {
    background: #FFCECE;
    text-decoration: line-through;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 1024px) {
    .debounce-input {
        margin-bottom: 10px;
        width: 100%;
    }
    .roomDetailsDiv {
        width: 100%;
    }
    .roomHazardCardsDiv {
        width: 100%;
        flex-direction: column;
    }
    .roomHazarFormDiv {
        width: 100%;
        flex-direction: column;
    }
    .textCard {
        margin-left: 10px;
        font-size: small;
        margin-right: 15px;
    }
    .utilsBar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1025px) {
    .debounce-input {
        margin-bottom: 10px;
        width: 40%;
    }
    .roomDetailsDiv {
        width: 30%;
    }
    .roomHazardCardsDiv {
        width: 20%;
        flex-direction: column;
    }
    .roomHazarFormDiv {
        width: 80%;
        padding: 20px;
        flex-direction: column;
    }
    .textCard {
        margin-left: 10px;
        font-size: small;
        margin-right: 15px;
    }
    .utilsBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 5px !important;
        font-size: small !important;
    }
}

.MuiDataGrid-row {
    cursor: pointer !important;
}

.form-control, .selectize-control .selectize-input {
    font-size: small !important;
}

.form-group label {
    font-size: small !important;
    font-weight: bolder !important;
}

.formio-component-htmlelement {
    font-size: small !important;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: small !important;
}

.css-1qqsdnr-MuiAutocomplete-root .MuiInput-root .MuiInput-input {
    font-size: small !important;
    padding-bottom: 8px !important;
}

.css-1q60rmi-MuiAutocomplete-endAdornment {
    top: calc(50% - 20px) !important;
}

.choices__item.choices__item--selectable {
    margin-bottom: 5px !important;
}

.was-validated .form-control:invalid, .was-validated .selectize-control .selectize-input:invalid, .selectize-control .was-validated .selectize-input:invalid, .form-control.is-invalid, .selectize-control .is-invalid.selectize-input {
   background-image: none !important;
}

.MuiInputBase-input {
    font-size: small !important;
}

.debounceInput {
    font-size: small !important;
}

.MuiInputLabel-formControl {
    font-weight: bolder !important;
}

.labelDetails {
    font-size: small;
    font-weight: bolder;
    color: gray;
}

.valueDetails {
    font-size: small;
    margin-left: 5px;
}


.hazardTitle {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
}

.container {
    position: relative;
    display: inline-block;
}

textarea {
    width: 100%;
    height: 100px;
}

.icon {
    cursor: pointer;
    font-size: 24px;
}

.form-group {
    margin-bottom: 0rem !important;
}

button {
    margin: 5px !important;
}


.nav-aside-layout .nav-aside-wrapper {
    min-width: 250px !important;
}

.authorization-panel {
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

// Import from epfl-elements.react-si-extra

@include media-breakpoint-down(md) {
    .responsiveAsideMenu {
        display: none;
    }
    .responsiveAsideMenu.is-open {
        display: block;
        position: absolute;
        z-index: 10;
        width: 100%;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .responsiveAsideMenu_burger{
        display: block;
    }
}

@include media-breakpoint-up(md) {
    .responsiveAsideMenu {
        display: block;
    }
    .responsiveAsideMenu_burger{
        display: none;
    }
}


.responsive-tabs {
    width: 100%;
    vertical-align: top;
    display: inline;
}

.responsive-tabs .nav-link {
    height: 100%;
}

.responsive-tabs .box {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 0.01%);
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    margin: 10px;
}


.responsive-tabs .card-body {
    padding: 1rem;
}

.responsive-tabs .card-title {
    overflow: hidden;
}


@include media-breakpoint-up(md) {
    .responsive-tabs .tabs {
        display: none;
    }
    .responsive-tabs .box {
        display: block;
    }
    .responsive-tabs .box-container {
        display: flex;
        flex-direction: row;
    }
}


@include media-breakpoint-down(md) {
    .responsive-tabs .tabs {
        display: flex;
    }
    .responsive-tabs .box {
        display: none;
    }
    .responsive-tabs .box-container {
        display: none;
    }
}

.MuiChip-deleteIcon {
    color: white !important;
}

.chip {
    background-color: red !important;
    margin-right: 5px !important;
    color: white !important;
    font-weight: bold !important;
}

.smallChip {
    background-color: red !important;
    margin-right: 5px !important;
    color: white !important;
    font-weight: bold !important;
    font-size: xx-small !important;
    height: 15px !important;
    margin-bottom: 2px;
}

.MuiButton-containedPrimary {
    background-color: lightslategray !important;
    border-right-color: white !important;
    margin: 0 !important;
    padding: 1px 1px 1px 5px !important;
    font-weight: bold !important;
    font-size: x-small !important;
    border-radius: 16px 0 0 16px !important;
}

.MuiButton-containedSizeSmall {
    margin: 0 !important;
    padding: 1px !important;
    border-radius: 0 16px 16px 0 !important;
}

.MuiButtonGroup-contained {
    box-shadow: none !important;
}
